@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-image: url('https://disneyapi.dev/icons/icon-512x512.png');
}

#root {
    height: 100%;
    width: 100%;
}

.App {
    height: auto;
    width: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.attribution {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: .75ch;
    font-size: 85%;
}

.attribution > a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(237, 37, 78); /* colour lifted from API home page header */
}
